#Project
PORT=2408
NODE_ENV=local

# JWT
USER_JWT_SECRET=kjdhf98w8@ikhfd #leaving it same 
ADMIN_JWT_SECRET=dfjhkjdsh@26&^@j #leaving it same 


# Db
MONGO_URI=mongodb://mongo:27017/provider_booking
DB= provider_booking
DB_HOST=localhost
DB_PORT=27018

